html,
body {
    margin: 0px;
    /* width: 100%; */
    
}

/* pretty colors
EF3A25s */

/* Body */
.mybody{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border-left:5px solid black; */
}


/* Navbar Style */
.mynavbar
{
    /* background-color: aliceblue; */
    /* height: 70px; */
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 11;
}

.mynavbar-content
{   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin-left: auto;  
    margin-right:auto; 
    height:70px;
    width: 80%;
    padding-top:10px;
    padding-bottom: 10px;
    
    /* background-color:darkblue; */
    
    
}

.mynavbar-content-left {
    margin-left: 25px;
    margin-right: auto;
}



.mynavbar-content-right{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1em;
}
.mynavbar-content-right li {
    list-style: none;
    padding-left: 10px;
    float: left;
   
}

.mynavbar-content-right a {
    text-decoration: none;
    color: black;
    padding: 12px 20px;
    
}


.mynavbar-content-right a:hover{
    color:red;
}

.mynavbar-content-right a.active{
background-color: red;
}
/* Navbar End */
.left-column{
    position: absolute;
    height: 100vh;
    width: 5px;
    background-color: red;
    /* z-index: 9999; */
}



/* Tittles */

.container
{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* width: 100%; */
    justify-content: center;
    height: 100vh;
}


.container-text
{
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.container-text > h1{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px;
    
}

.container-text > p
{
    color:black;
    font-size: 45px;
    padding: 20px 0px;
    font-family: 'Courier New', Courier, monospace;
    
}

.buttons
{
    
    width:100%;
    
    
}


.btn-container
{   
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    
    max-width: 1000px;
    /* background-color: darkred; */
    padding: 30px 0px;
    
}

.btn-resume
{
    padding: 15px 40px;
    border: none; 
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    letter-spacing: 0.1em;
    
    
    
}

.btn-work
{
    padding: 15px 29px;
    border: none; 
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    letter-spacing: 0.1em;
    
}

.about
{
    width: 100%;
    height: 700px;
    /* border: 2px solid black; */
}

.img-container
{
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
}

.img-container > a > img{
    max-width: 100px;
}


/* about content */

.about-section
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: black;
    justify-content: center;

}

.about-content
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    z-index: 10;
}

.about-text > h1
{
    
    font-size: 3em;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.about-text > p
{
    font-size: 1.5em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.col-right
{
    position: absolute;
    width: 100%;
   
}


.abt-right-col
{
    width: 5px;
    height: 600px;
    background-color: red;
    margin-left: auto;
}


.tools-section
{
   width: 100%;
   height: 700px;
}

.tbox-container
{
    display: flex;
    max-width: 1500px;
    background-color: rosybrown;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
    
}

.tbox-container .tbox
{
    height: 600px;
    border: 2px solid black;
    width: 100%;
    margin: 10px;
}







