html,
body {
    margin: 0px;
    background-color: #f7f7f7;
  
}


/* colors */

/* background : #f7f7f7 */
/* containers: wheat */
/* tittle : #152B4A */
/* subtitle - text : #1E3D69 */



/* ------------------------ navbar ----------------------- */

nav{
    position: fixed;
    width: 100%;
    background-color: #f7f7f7;
    z-index: 999;
}


.nav-container{

   
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
   
}


/* navbar menu */
.nav-menu
{
    margin: auto 0px auto auto;
    float: left;
}

.nav-menu > ul
{
    margin:auto
}


.nav-menu > ul > li
{
    
    list-style-type: none;
    padding-right: 30px;
    float: left;
}


.nav-menu > ul > li > a
{
    font-weight: bold;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .1em;
    text-decoration: none;
    color:#1E3D69; 
    padding: 10px 25px;
    transition: all .5s;
}


.nav-menu > ul > li > a:hover
{
    outline: 3px solid #1E3D69;
    box-shadow: 5px 5px black;
}


/* navbar icon */

.nav-icon
{
    margin: auto auto auto 0px;
}


/* --------------------- intro section --------------------------     */

.intro-container
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}


/* intro title */
.intro-title
{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.intro-title  h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    padding: 10px 25px;
    text-align: center;
}

.intro-title  h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    font-weight: normal;
    padding: 10px 25px;
    text-align: center;
}

.btn-container
{
   text-align center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px; 
    width: 100%;
    max-width: 900px;  
}

.btn-container > button
{
    text-align: center;
    margin: auto 10px;
    width: 100px;
    background-color: wheat;
    border: none;
    padding: 10px;
    box-shadow: 5px 5px gray;
}






/* arrow down icon  */
.title-arrow-img
{   
    
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}


.title-arrow-img > img
{
    max-width: 120px;
}


/* --------------------   about section  --------------------- */
.test > div
{
    height: 600px;
    width: 100%;
}





