html,
body {
    margin: 0px;
    /* width: 100%; */
}

/* pretty colors
EF3A25s */

/* Body */
.mybody{
    background-color: #2A363B;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
    
    
}


/* Navbar Style */
.mynavbar
{
    /* background-color: aliceblue; */
    /* height: 70px; */
    width: 100%;
    position: relative;
}

.mynavbar-content
{   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin-left: auto;  
    margin-right:auto; 
    height:70px;
    width: 80%;
    padding-top:10px;
    padding-bottom: 10px;
    /* background-color:darkblue; */
    
    
}

.mynavbar-content-left {
    margin-left: 25px;
    margin-right: auto;
}



.mynavbar-content-right{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.mynavbar-content-right li {
    list-style: none;
    padding-left: 40px;
    float: left;
   
}

.mynavbar-content-right a {
    text-decoration: none;
    color: White;
}
/* Navbar End */

/* Tittles */

.container
{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    /* background-color: darkgrey; */
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    height: 100vh;
}

.container-text > h1{
    color: white;
}

.container-text > p
{
    color: white;
}

.btn-container
{
    
}

